 .index 
 {
    background-image: url('https://wallpaperaccess.com/full/842288.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0; 
    padding: 0;
 }
 
#main
{
    background:rgba(255, 255, 255, 0.5);
    margin: auto;
    padding:20px;
    //border:3px solid grey;
}
         
#header
{
    background:rgba(0, 0, 0, 0.5);
}
		  
#drawer 
{
    background:rgba(46, 46, 45);
}

#table
{
  	border: 1px solid black;
}
		  
 #scrollable 
{
  	overflow-x: auto;
}
		  
		  
a:hover 
{
    background-color: #ddd;
    color: #40403f;
}
		  
.ViewPorts
{
	background-image: url('https://cdn.hipwallpaper.com/i/48/58/0wJ1IC.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0; 
    padding: 0;
}

.ViewShips
{
	background-image: url('https://s2.best-wallpaper.net/wallpaper/1920x1080/1803/Germany-Hamburg-port-docks-ships-crane_1920x1080.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0; 
    padding: 0;
		 
}

.ViewRoute
{
	background-image: url('https://media.wired.com/photos/592718d3ac01987bf013881d/master/pass/Crystal_Serenity.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0; 
    padding: 0;
			  
}

btn-group button {
  display: block; /* Make the buttons appear below each other */
}

.CreateShip
{
	background-image: url('https://bilginyacht.com/uploads/orj/3_1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0; 
    padding: 0;
}

.CreatePort
{
	background-image: url('https://images.unsplash.com/photo-1561702469-c4239ced3f47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0; 
    padding: 0;
}

.AddRoute
{
	background-image: url('https://images.unsplash.com/photo-1561702469-c4239ced3f47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0; 
    padding: 0;
}

.text{
    position: absolute;
    top: 450px;
    left:35px;
    font-family: Arial;
	font-size: 60px;
    color: white;
    font-weight: bold;
				
                
}

.mdl-layout-title
{
    left : 2px;
    color :white;
}

img 
{
	width:30px;
	height:30px;
}

.map
{
width: 500px; height: 500px;
}


.demo-card-wide>.mdl-card__title {
  color: #fff;
  height: 50px;
  background: black
}

.demo-card-wide.mdl-card {
  width: 350px;
}


/* Additional css below */


.mdl-card__menu {
  color: white;
}

/* .mdl-card__title {
  padding: 12px 32px;
  align-items: center;
} */

/* .mdl-card__title-text {
  font-size: 20px !important;
  font-weight: 400;
} */


.card-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-cell {
  text-align: center;
  width: 150px;
}

.card-cell h4 {
  margin: 8px 0;
  font-weight: 400;
}

.card-divider {
  display: block;
  height: 50px;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.3);
}